<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :platform_id %>
    <%= form.number_field :platform_id, id: :profile_platform_id %>
  </div>

  <div class="field">
    <%= form.label :card_holder_name %>
    <%= form.text_field :card_holder_name, id: :profile_card_holder_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :profile_email %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :profile_photo %>
  </div>

  <div class="field">
    <%= form.label :photo_upload_allowed %>
    <%= form.check_box :photo_upload_allowed, id: :profile_photo_upload_allowed %>
  </div>

  <div class="field">
    <%= form.label :card_number %>
    <%= form.text_field :card_number, id: :profile_card_number %>
  </div>

  <div class="field">
    <%= form.label :valid_from %>
    <%= form.datetime_select :valid_from, id: :profile_valid_from %>
  </div>

  <div class="field">
    <%= form.label :valid_to %>
    <%= form.datetime_select :valid_to, id: :profile_valid_to %>
  </div>

  <div class="field">
    <%= form.label :is_profile_present_on_ccdb %>
    <%= form.text_field :is_profile_present_on_ccdb, id: :profile_is_profile_present_on_ccdb %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
