<div class="ui raised segment">

  <%= search_form_for(@q, url: report_profiles_path(params[:report_id]),class: "ui form") do |f| %>
      <div class="two fields">
        <div class="field">
          <%= f.label :email_cont %>
          <%= f.search_field :email_cont %>
        </div>

        <div class="field">
          <%= f.label :user_id_eq %>
          <%= f.search_field :platform_id_eq %>
        </div>

      </div>
      <div class="two fields">
        <div class="field">
          <%= f.label :card_number_cont %>
          <%= f.search_field :card_number_cont %>

        </div>

        <div class="field">
          <%= f.label :card_holder_name_or_email_or_photo_or_card_number_cont %>
          <%= f.search_field :card_holder_name_or_email_or_photo_or_card_number_cont %>
        </div>
      </div>
      <%= f.submit class: "ui primary button" %>
  <% end %>
</div>
