<p id="notice"><%= notice %></p>

<h1>Report version <%= @report.version %></h1>


<div class="ui grid">
  <div class="row">
    <div class="three wide column">
      <div class="ui secondary vertical menu">
        <%= link_to "Back to reports", reports_path, class: "item" %>
        <%= link_to "Report summary", summary_report_path(params[:report_id]), class: "item" %>
        <%= link_to "Admin and other Search", '/admin', class: "item" %>
      </div>
    </div>

    <div class="nine wide column">
      <%= render 'profiles/search_form' %>
    </div>
    <div class="three wide column"></div>
  </div>


  <% cache [Profile.all.order(updated_at: :desc).first.updated_at, params.values.map(&:to_s), params.keys.map(&:to_s)] do %>
      <div class="centered row">
        <div class="eight wide column">
          <%= paginate @profiles %>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide column">
          <div class="ui celled eleven column grid">
            <div class="row">
              <div class="column"><%= sort_link(@q, :platform_id, [:platform_id, platform_name: :asc], "ID") %></div>
              <div class="column">Platform</div>
              <div class="column">Diffs</div>
              <div class="column"><%= sort_link(@q, :card_name, [:card_holder_name, platform_name: :asc], "Card holder name") %></div>
              <div class="column"><%= sort_link(@q, :email) %></div>
              <div class="column"><%= sort_link(@q, :photo) %></div>
              <div class="column">Photo upload allowed</div>
              <div class="column"><%= sort_link(@q, :card_number) %></div>
              <div class="column"><%= sort_link(@q, :valid_from) %></div>
              <div class="column"><%= sort_link(@q, :valid_to) %></div>
              <div class="column">Is profile present on ccdb</div>
            </div>

            <% @profiles.each do |profile| %>
                <div class="row">
                  <div class="column"><%= profile.platform_id %></div>
                  <div class="column"><%= profile.platform_name %></div>
                  <div class="column">
                    <% profile.differences.each_with_index do |diff, index| %>
                      <a class="ui <%= field_color_for(diff) %> label"><%= diff.to_s.humanize %></a>
                    <% end %>

                  </div>
                  <div class="column"><%= link_to(profile.card_holder_name, report_profile_path(params[:report_id], profile)) %></div>
                  <div class="column"><%= profile.email %></div>
                  <div class="column"><%= profile.photo %></div>
                  <div class="column"><%= profile.photo_upload_allowed %></div>
                  <div class="column"><%= profile.card_number %></div>
                  <div class="column"><%= profile.valid_from %></div>
                  <div class="column"><%= profile.valid_to %></div>
                  <div class="column"><%= profile.is_profile_present_on_ccdb %></div>
                </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="centered row">
        <div class="eight wide column">
          <%= paginate @profiles %>
        </div>
      </div>
  <% end %>


</div>

