<p id="notice"><%= notice %></p>

<p>
  <strong>Platform:</strong>
  <%= @profile.platform_id %>
</p>

<p>
  <strong>Card holder name:</strong>
  <%= @profile.card_holder_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @profile.photo %>
</p>

<p>
  <strong>Photo upload allowed:</strong>
  <%= @profile.photo_upload_allowed %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @profile.card_number %>
</p>

<p>
  <strong>Valid from:</strong>
  <%= @profile.valid_from %>
</p>

<p>
  <strong>Valid to:</strong>
  <%= @profile.valid_to %>
</p>

<p>
  <strong>Is profile present on ccdb:</strong>
  <%= @profile.is_profile_present_on_ccdb %>
</p>
<p>
  <strong>Report Version:</strong>
  <%= @profile.report.version %>
</p>

<%= link_to 'Back', report_profiles_path(params[:report_id]) %>
