<h1>What do you want to do?</h1>


<div class="ui equal width center aligned padded grid">
  <div class="row">

    <div class="six wide teal column">
      <%= link_to analytics_events_path do %>
      <h2>Analytics Tool</h2>
      <% end %>
    </div>

    <div class="six wide orange column">
      <%= link_to reports_path do %>
      <h2>Sync Diagnosis Tool Reports</h2>
      <% end %>
    </div>
  </div>

</div>
