// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.column {
  word-wrap: break-word;
}

.body-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}