<tr>
  <% (analytics_event.attribute_names - discard_fields).each do |an| %>
  <td>
    <%= analytics_event.send(an) %>
  </td>

  <% end %>
  <td>
    <% if analytics_event.fired %>
      Already fired
    <% else %>
      <%= link_to 'Fire!', fire_analytics_event_path(analytics_event), method: :post %>
    <% end %>
  </td>
</tr>
