<div class="ui raised segment">

  <%= search_form_for(@q, url: analytics_events_path,class: "ui form") do |f| %>


        <div class="field">
          <%= f.label 'Free text search' %>
          <%= f.search_field :action_type_code_or_user_id_or_location_or_ip_or_language_or_app_version_or_card_id_or_ccdb_card_id_or_session_id_or_action_params_cont %>
        </div>

      <%= f.submit class: "ui primary button" %> <span><%= @q.result.count %> events found</span>
  <% end %>
</div>
