<% cache [@analytics_events.last, request.params.keys.join('-'), request.params.values.join('-')] do %>
  <p id="notice"><%= notice %></p>

  <h1>Analytics Events</h1>

  <div class="ui segment">
    <%= form_with(url: import_analytics_logfile_path, html: {multipart: true}, class: "ui form") do |form| %>
    <div class="field">
      <%= form.label "Import Log File with events from EC2 Instances" %>
    </div>

    <div class="field">
      <%= form.file_field :import_file, class: "ui button" %>
    </div>
    <%= form.submit "Upload...", class: "ui button", data: {disable_with: "Processing, may take a while..."} %>
  <% end %>
</div>

<div class="ui grid">

  <div class="centered row">
    <div class="eight wide column">
      <%= paginate @analytics_events %>
    </div>
  </div>

  <div class="centered row">
    <div class="nine wide column">
      <div class="nine wide column">
        <%= render 'analytics_events/search_form_analytics' %>
      </div>
    </div>

  </div>

  <% discard_fields = ['created_at', 'updated_at', 'id', 'fired', 'uuid'] %>
    <div class="row">
      <div class="sixteen wide column">

        <table class="ui celled striped table">
          <thead>
            <tr>
              <% (AnalyticsEvent.attribute_names - discard_fields).each do |an|%>
                <th>
                  <%= sort_link(@q, an.to_sym) %>
                </th>
              <% end %>

              <th colspan="1">Actions</th>
            </tr>
          </thead>

          <tbody>
            <%= render collection: @analytics_events, partial: 'analytics_events/analytics_event_row', cache: true, as: 'analytics_event', locals: { discard_fields: discard_fields } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="centered row">
      <div class="eight wide column">
        <%= paginate @analytics_events %>
      </div>
    </div>

  </div>

  <br>

  <%= link_to 'New Analytics Event', new_analytics_event_path %>
<% end %>
