<div class="ui grid">
  <div class="row">
    <div class="three wide left aligned left floated column">
      <h1>Reports</h1>
    </div>

    <div class="five wide right aligned right floated column">
      <div class="ui segment">
        <%= form_with(url: import_report_path, html: {multipart: true}, class: "ui form") do |form| %>
            <div class="field">
              <%= form.label "Import JSON report file" %>
            </div>

            <div class="field">
              <%= form.file_field :import_file, class: "ui button" %>
            </div>
            <%= form.submit "Upload...", class: "ui button", data: {disable_with: "Processing, may take a while..."} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned celled four column grid">
  <div class="row">
    <div class="column"><strong>Report version</strong></div>
    <div class="column"><strong>Differences</strong></div>
    <div class="column"><strong>Approx. Date (UTC)</strong></div>
    <div class="column"></div>
  </div>

  <% @reports.each do |report| %>
      <div class="row">
        <div class="column"><%= report.version %></div>
        <div class="column"><%= report.count %></div>
        <div class="column"><%= report.date&.to_formatted_s(:long) %></div>
        <div class="column">
          <div class="ui buttons">
            <%= link_to "Summary", summary_report_path(report), class: "ui button" %>
            <%= link_to("View profiles", report_profiles_path(report), class: "ui primary button") %>
            <%= link_to("Destroy", report_path(report), class: "ui negative button", method: :delete, data: {confirm: "Are you sure you want to destroy the report #{report.version}???!!!"}) %>
          </div>
        </div>
      </div>
  <% end %>

</div>
  

