<div class="ui segment">

  <strong>Field count difference</strong>: <%= @summary[:differences_count] %>
  <br/>
  <strong>Number of orphans (profile only in one platform): <%= @summary[:orphans] %></strong>
  <table class="ui sortable celled table">
    <thead>
    <tr>
      <th class="">Field</th>
      <th class="sorted ascending">Differences</th>
    </tr>
    </thead>

    <tbody>

    <% @summary[:fields].each do |field| %>
        <tr>
          <td class="">
            <a class="ui <%= field_color_for(field[0]) %> label"><%= field[0].to_s.humanize %></a>
          </td>
          <td class=""><%= field[1].to_s %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br/>

</div>

<% @summary[:character_distribution]&.each do |cd| %>
    <table class="ui sortable celled table">
      <thead>
      <tr>
        <th class=""><%= cd[0] %>: Number of characters in card number</th>
        <th class="sorted ascending">Number of profiles</th>
      </tr>
      </thead>
      <tbody>
      <% cd[1].keys.each do |key| %>
          <tr>
            <td class=""><%= key.to_s %> characters</td>
            <td class=""><%= cd[1][key].to_s %> profiles</td>
          </tr>
      <% end %>
      </tbody>


    </table>

<% end %>

