<!DOCTYPE html>
<html>
  <head>
    <title>ISIC Playground</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: :all %>
  </head>

  <body>
    <div class="body-wrapper">
      <% unless flash&.empty? %>
          <div class="ui message">
            <i class="close icon"></i>

            <ul class="list">
              <% flash.each do |key, value| %>
                  <li><%= value %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


    <%= yield %>
    </div>
  </body>
</html>
